<mat-card class="content-card">
    <mat-card-header>
        <mat-card-title>
            <div *ngIf="updateContext;else createHeader">
                <mat-icon class="title-icon">subject</mat-icon> Update document: {{document?.title}}
            </div>
            <ng-template #createHeader>
                <mat-icon class="title-icon">subject</mat-icon> Create document
            </ng-template>
        </mat-card-title>
    </mat-card-header>
    <form [formGroup]="documentForm" (ngSubmit)="updateContext ? update(): create()">
        <mat-form-field>
            <input placeholder="Title" matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <textarea rows="5" placeholder="Content" matInput formControlName="content"></textarea>
        </mat-form-field>
        <button type="submit"  mat-stroked-button [disabled]="!valid">Submit</button>
    </form>
</mat-card>